@font-face {
  font-family: "Signatura-Monoline";
  src: url("./fonts/Signatura-Monoline.otf") format("opentype"),
    url("./fonts/Signatura-Monoline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "Signatura-Monoline";
  font-weight: 800;
  font-size: 2rem;
}

#game {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  border-radius: 15px 225px 255px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  font-family: "Signatura-Monoline";
  padding: 0.75rem;
  margin: 10px;
  width: 120px;
  cursor: grab;
  transition: all 235ms ease-in-out;
  user-select: none;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.card:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
#timer,
#scoreBoard {
  font-size: 24px;
  margin-top: 10px;
}
#submit,
#registerBtn,
#startBtn,input {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  line-height: 23px;
  font-family: "Signatura-Monoline";
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  margin-top: 20px;
}
#submit:hover,
#registerBtn:hover,
#startBtn:hover,
input:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
#submit:focus,
#registerBtn:focus,
#startBtn:focus,
input:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.top-ranking{
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  line-height: 23px;
  font-family: "Signatura-Monoline";
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  user-select: none;
  margin-top: 20px;
}
#message {
  font-size: 22px;
  margin-top: 15px;
}
#nameInput {
  margin-top: 20px;
  display: none;
}
input[type="text"] {
  padding: 10px;
}
#ranking {
  margin-top: 30px;
}
ol {
  padding-left: 0;
  list-style: none;
}
